# Original Solution with WALS and Glottolog

In [ ]:
# Import dependencies
import pandas as pd
import regex as re

# Path
path = "data/languages/"

### WALS

In [ ]:
# load in dataset (old)
df=pd.read_csv(path + 'wals_languages_ori.csv', delimiter=',', encoding="utf-8")
df

# extract only desired columns
selectlist = ['iso_code', 'glottocode', 'Name', 'latitude', 'longitude', 'genus', 'family', 'macroarea', 'countrycodes', '138A Tea']
df = df[selectlist]
# rename columns
df.columns = ['iso', 'glcode', 'name', 'lat', 'lon', 'genus', 'family', 'macroarea', 'country', 'tea']

# add level
df['level'] = "language"

# from
df['from'] = "wals1"

# sort by alphabetical order
df=df.sort_values('name')
df.reset_index(inplace=True, drop=True)

# write data out
wals1=df
wals1

,iso,glcode,name,lat,lon,genus,family,macroarea,country,tea,level,from
0,knw,kung1261,!Xun (Ekoka),-19.666667,18.000000,Ju-Kung,Kxa,Africa,NA AO,NaN,language,wals1
1,nmn,xooo1239,!Xóõ,-24.000000,21.500000,Tu,Tu,Africa,BW,2 Words derived from Min Nan Chinese te,language,wals1
2,alu,area1240,'Are'are,-9.250000,161.166667,Oceanic,Austronesian,Papunesia,SB,NaN,language,wals1
3,hnh,anii1246,//Ani,-18.916667,21.916667,Khoe-Kwadi,Khoe-Kwadi,Africa,BW,NaN,language,wals1
4,xam,xamm1241,/Xam,-31.000000,21.000000,Tu,Tu,Africa,ZA,NaN,language,wals1
...,...,...,...,...,...,...,...,...,...,...,...,...
2674,zul,zulu1248,Zulu (Southern),-31.000000,30.000000,Bantoid,Niger-Congo,Africa,ZA,NaN,language,wals1
2675,zun,zuni1245,Zuni,35.083333,-108.833333,Zuni,Zuni,North America,US,NaN,language,wals1
2676,jya,jiar1239,rGyalrong (Caodeng),31.666667,101.750000,rGyalrong,Sino-Tibetan,Eurasia,CN,NaN,language,wals1
2677,eme,emer1243,Émérillon,3.166667,-52.416667,Tupi-Guaraní,Tupian,South America,GF,NaN,language,wals1
2678,aom,omie1241,Ömie,-9.050000,148.083333,Koiarian,Trans-New Guinea,Papunesia,PG,NaN,language,wals1

In [ ]:
# load in dataset (new)
df=pd.read_csv(path+'wals_languages.csv', delimiter=',', encoding="utf-8")

# extract only desired columns
selectlist = ['iso_codes', 'name', 'latitude', 'longitude', 'macroarea']
df = df[selectlist]
# rename columns
df.columns = ['iso', 'name', 'lat', 'lon', 'macroarea']

#add level
df['level'] = "language"

# from
df['from'] = "wals2"

# sort by alphabetical order
df=df.sort_values('name')
df.reset_index(inplace=True, drop=True)

# write data out
wals2=df
wals2

,iso,name,lat,lon,macroarea,level,from
0,alu,'Are'are,-9.250000,161.166667,Papunesia,language,wals2
1,hnh,//Ani,-18.916667,21.916667,Africa,language,wals2
2,huc,=|Hoan,-25.500000,25.000000,Africa,language,wals2
3,apq,A-Pucikwar,12.166667,92.833333,Eurasia,language,wals2
4,aiw,Aari,6.000000,36.583333,Africa,language,wals2
...,...,...,...,...,...,...,...
1995,tnc,Retuarã,-0.500000,-70.666667,South America,language,wals2
1996,ran,Riantana,-7.500000,138.500000,Papunesia,language,wals2
1997,jya,rGyalrong (Caodeng),31.666667,101.750000,Eurasia,language,wals2
1998,eme,Émérillon,3.166667,-52.416667,South America,language,wals2
1999,aom,Ömie,-9.050000,148.083333,Papunesia,language,wals2

In [ ]:
# concatenate wals1 and wals2
frames = [wals1, wals2]
df = pd.concat(frames)

# sort by alphabetical order
df=df.sort_values(['name', 'family'])
df.reset_index(inplace=True, drop=True)

# drop duplicates
df = df.drop_duplicates(subset = ['name'], keep = 'first').reset_index(drop = True)

# write
wals=df
wals.to_csv(path+'wals.csv')
wals

,iso,glcode,name,lat,lon,genus,family,macroarea,country,tea,level,from
0,knw,kung1261,!Xun (Ekoka),-19.666667,18.000000,Ju-Kung,Kxa,Africa,NA AO,NaN,language,wals1
1,nmn,xooo1239,!Xóõ,-24.000000,21.500000,Tu,Tu,Africa,BW,2 Words derived from Min Nan Chinese te,language,wals1
2,alu,area1240,'Are'are,-9.250000,161.166667,Oceanic,Austronesian,Papunesia,SB,NaN,language,wals1
3,hnh,anii1246,//Ani,-18.916667,21.916667,Khoe-Kwadi,Khoe-Kwadi,Africa,BW,NaN,language,wals1
4,xam,xamm1241,/Xam,-31.000000,21.000000,Tu,Tu,Africa,ZA,NaN,language,wals1
...,...,...,...,...,...,...,...,...,...,...,...,...
2707,zul,zulu1248,Zulu (Southern),-31.000000,30.000000,Bantoid,Niger-Congo,Africa,ZA,NaN,language,wals1
2708,zun,zuni1245,Zuni,35.083333,-108.833333,Zuni,Zuni,North America,US,NaN,language,wals1
2709,jya,jiar1239,rGyalrong (Caodeng),31.666667,101.750000,rGyalrong,Sino-Tibetan,Eurasia,CN,NaN,language,wals1
2710,eme,emer1243,Émérillon,3.166667,-52.416667,Tupi-Guaraní,Tupian,South America,GF,NaN,language,wals1
2711,aom,omie1241,Ömie,-9.050000,148.083333,Koiarian,Trans-New Guinea,Papunesia,PG,NaN,language,wals1

In [ ]:
# # search
# keyword = "Tea"
# wals[wals.eq(keyword).any(1)]

### Glottolog

In [ ]:
# load in dataset 1
df=pd.read_csv(path+'languages_and_dialects_geo.csv', delimiter=',', encoding="utf-8")

# rename columns
df.columns = ['glcode', 'name', 'iso', 'level', 'macroarea', 'lat', 'lon']

# from
df['from'] = "glot"

#write
glot1=df
glot1

         glcode        name  iso     level  macroarea       lat      lon  from
0      3adt1234  3Ad-Tekles  NaN   dialect     Africa       NaN      NaN  glot
1      aala1237      Aalawa  NaN   dialect  Papunesia       NaN      NaN  glot
2      aant1238  Aantantara  NaN   dialect  Papunesia       NaN      NaN  glot
3      aari1239        Aari  aiw  language     Africa   5.95034  36.5721  glot
4      aari1240      Aariya  aay  language    Eurasia       NaN      NaN  glot
...         ...         ...  ...       ...        ...       ...      ...   ...
21324  zuwa1238     Zuwadza  NaN   dialect  Papunesia       NaN      NaN  glot
21325  zwal1238       Zwall  NaN   dialect     Africa       NaN      NaN  glot
21326  zyph1238       Zyphe  zyp  language    Eurasia  22.52400  93.2640  glot
21327  zyud1238     Zyuzdin  NaN   dialect    Eurasia       NaN      NaN  glot
21328  huaa1249        ǂHua  NaN   dialect     Africa       NaN      NaN  glot

[21329 rows x 8 columns]

In [ ]:
# load in dataset 2
df=pd.read_csv(path+'languoid.csv', delimiter=',', encoding="utf-8")
df

# extract only desired columns
selectlist = ['name', 'iso639P3code', 'id', 'level', 'family_id', 'country_ids', 'latitude', 'longitude']
df = df[selectlist]

# rename columns
df.columns = ['name', 'iso', 'glcode', 'level', 'family', 'country', 'lat', 'lon']

# from
df['from'] = "glot"

#drop signlanguages, bookkeeping, unattested, artificial
df = df[df['family'] != 'sign1238']
df = df[df['family'] != 'book1242']
df = df[df['family'] != 'unat1236']
df = df[df['family'] != 'arti1236']

#manually fix families
df['family'] = [re.sub('sino1245', "Sino-Tibetan", str(x)) for x in df['family']]
df['family'] = [re.sub('drav1251', "Dravidian", str(x)) for x in df['family']]
df['family'] = [re.sub('atla1278', "Atlantic-Congo", str(x)) for x in df['family']]
df['family'] = [re.sub('aust1307', "Austronesian", str(x)) for x in df['family']]
df['family'] = [re.sub('indo1319', "Indo-European", str(x)) for x in df['family']]
df['family'] = [re.sub('afro1255', "Afro-Asiatic", str(x)) for x in df['family']]
df['family'] = [re.sub('aust1305', "Austroasiatic", str(x)) for x in df['family']]
df['family'] = [re.sub('nucl1709', "Nuclear Trans New Guinea", str(x)) for x in df['family']]
df['family'] = [re.sub('pama1250', "Pama-Nyungan", str(x)) for x in df['family']]
df['family'] = [re.sub('pama1250', "Pama-Nyungan", str(x)) for x in df['family']]
df['family'] = [re.sub('tupi1275', "Tupian", str(x)) for x in df['family']]
df['family'] = [re.sub('tuuu1241', "Tuu", str(x)) for x in df['family']]
df['family'] = [re.sub('ural1272', "Uralic", str(x)) for x in df['family']]
df['family'] = [re.sub('turk1311', "Turkic", str(x)) for x in df['family']]
df['family'] = [re.sub('khoe1240', "Khoe–Kwadi", str(x)) for x in df['family']]
df['family'] = [re.sub('lake1255', "Lakes Plain", str(x)) for x in df['family']]
df['family'] = [re.sub('japo1237', "Japonic", str(x)) for x in df['family']]
df['family'] = [re.sub('kxaa1236', "Kxa", str(x)) for x in df['family']]
df['family'] = [re.sub('utoa1244', "Uto-Aztecan", str(x)) for x in df['family']]
df['family'] = [re.sub('mong1349', "Mongolic-Khitan", str(x)) for x in df['family']]


# sort by alphabetical order
df=df.sort_values('name')
df.reset_index(inplace=True, drop=True)

# write data out
glot2=df
glot2

,name,iso,glcode,level,family,country,lat,lon,from
0,!Gã!ne,NaN,gane1238,language,Tuu,ZA,-31.3200,28.7500,glot
1,!Ui,NaN,kwii1241,family,Tuu,NaN,NaN,NaN,glot
2,'Abd Al-Kuri,NaN,abda1238,dialect,Afro-Asiatic,YE,12.1959,52.2282,glot
3,'Aden,NaN,aden1242,dialect,Afro-Asiatic,NaN,NaN,NaN,glot
4,'Algaden,NaN,alga1234,dialect,Afro-Asiatic,NaN,NaN,NaN,glot
...,...,...,...,...,...,...,...,...,...
25094,Ōita-ben,NaN,oita1237,dialect,Japonic,NaN,NaN,NaN,glot
25095,Ōmuta-ben,NaN,omut1237,dialect,Japonic,NaN,NaN,NaN,glot
25096,Ōsaka,NaN,osak1237,dialect,Japonic,NaN,NaN,NaN,glot
25097,Šumadija-Vojvodina,NaN,suma1275,dialect,Indo-European,NaN,NaN,NaN,glot
25098,ǂHua,NaN,huaa1249,dialect,Kxa,NaN,NaN,NaN,glot

In [ ]:
# merge
df = pd.merge(glot1, glot2, on=["name", "iso", "level", "glcode", "lat", "lon", "from"], how='outer')
print(df.shape)

# sort by alphabetical order
df=df.sort_values(['name', 'family'])
df.reset_index(inplace=True, drop=True)

# write
glot=df
glot.to_csv(path+'glot.csv')
glot

(25833, 10)

,glcode,name,iso,level,macroarea,lat,lon,from,family,country
0,gane1238,!Gã!ne,NaN,language,Africa,-31.3200,28.7500,glot,Tuu,ZA
1,oung1238,!O!ung,oun,language,Africa,-15.3000,14.3500,glot,NaN,NaN
2,kwii1241,!Ui,NaN,family,NaN,NaN,NaN,glot,Tuu,NaN
3,abda1238,'Abd Al-Kuri,NaN,dialect,Africa,12.1959,52.2282,glot,Afro-Asiatic,YE
4,aden1242,'Aden,NaN,dialect,Eurasia,NaN,NaN,glot,Afro-Asiatic,NaN
...,...,...,...,...,...,...,...,...,...,...
25828,oita1237,Ōita-ben,NaN,dialect,Eurasia,NaN,NaN,glot,Japonic,NaN
25829,omut1237,Ōmuta-ben,NaN,dialect,Eurasia,NaN,NaN,glot,Japonic,NaN
25830,osak1237,Ōsaka,NaN,dialect,Eurasia,NaN,NaN,glot,Japonic,NaN
25831,suma1275,Šumadija-Vojvodina,NaN,dialect,Eurasia,NaN,NaN,glot,Indo-European,NaN
25832,huaa1249,ǂHua,NaN,dialect,Africa,NaN,NaN,glot,Kxa,NaN

In [ ]:
# keyword = "Eastern Panjabi"
# glot[glot.eq(keyword).any(1)]

### Concat

In [ ]:
#concatenate wals and glottolog
frames = [wals, glot]
df = pd.concat(frames)
print(df.shape)

# sort by alphabetical order
df=df.sort_values(['name', 'family'])
df.reset_index(inplace=True, drop=True)

#drop duplicates
df.drop_duplicates(subset=['glcode', 'name'], keep='first', inplace=True, ignore_index=True)
print(df.shape)

#drop if no code
# df = df[df['iso'].notna()]
# print(df.shape)

# reorder columns
df = df[['iso', 'glcode', 'name', 'level', 'genus', 'family', 'macroarea', 'country', 'lat', 'lon', 'from']]

#rename
df = df.rename(columns={"name": "language", "genus":"branch"})
df

# write data out
languages = df
languages.to_csv(path+'languages.csv')
languages

(28545, 12)
(27266, 12)

,iso,glcode,language,level,branch,family,macroarea,country,lat,lon,from
0,NaN,gane1238,!Gã!ne,language,NaN,Tuu,Africa,ZA,-31.320000,28.75,glot
1,oun,oung1238,!O!ung,language,NaN,NaN,Africa,NaN,-15.300000,14.35,glot
2,NaN,kwii1241,!Ui,family,NaN,Tuu,NaN,NaN,NaN,NaN,glot
3,knw,kung1261,!Xun (Ekoka),language,Ju-Kung,Kxa,Africa,NA AO,-19.666667,18.00,wals1
4,nmn,xooo1239,!Xóõ,language,Tu,Tu,Africa,BW,-24.000000,21.50,wals1
...,...,...,...,...,...,...,...,...,...,...,...
27261,NaN,oita1237,Ōita-ben,dialect,NaN,Japonic,Eurasia,NaN,NaN,NaN,glot
27262,NaN,omut1237,Ōmuta-ben,dialect,NaN,Japonic,Eurasia,NaN,NaN,NaN,glot
27263,NaN,osak1237,Ōsaka,dialect,NaN,Japonic,Eurasia,NaN,NaN,NaN,glot
27264,NaN,suma1275,Šumadija-Vojvodina,dialect,NaN,Indo-European,Eurasia,NaN,NaN,NaN,glot
27265,NaN,huaa1249,ǂHua,dialect,NaN,Kxa,Africa,NaN,NaN,NaN,glot

In [ ]:
# #checking
# so = languages[languages['language'] == 'New Latin']
# so

In [ ]:
# remove duplicates by glcode, but which one? # filter duplicates and get rid of plant one if found
# df['duplicate'] = df[df.duplicated(subset=['name'], keep=False)]['from']=="wals" # change subset to be more strict e.g. subset=['language', 'term']
# df.drop(df[df['duplicate'] == True].index, inplace=True)
# df.drop(['duplicate'], axis=1, inplace=True)
# df.reset_index(inplace=True, drop=True)
# df

In [ ]:
# #checking
# languages=languages.sample(20000)
# languages

### Augment dataset

In [ ]:
#add coordinates by hand
languages.loc[languages.language == 'Arabic', ['lat', 'lon']] = 27.96, 43.85 # Coordinates of Standard Arabic, OK
languages.loc[languages.language == 'West Germanic', ['lat', 'lon']] = 48, 9
languages.loc[languages.language == 'Semitic', ['lat', 'lon']] = 29, 40
languages.loc[languages.language == 'Anglo-Norman', ['lat', 'lon']] = 51, -1
languages.loc[languages.language == 'Romance', ['lat', 'lon']] = 44, 12
languages.loc[languages.language == 'Medieval Latin', ['lat', 'lon']] = 46.2, 1.3 # Western Europe coordinates
languages.loc[languages.language == 'Late Latin', ['lat', 'lon']] = 46.2, 1.3 # Western Europe coordinates
languages.loc[languages.language == 'Germanic', ['lat', 'lon']] = 48.25, 10.60 #Middle High German
languages.loc[languages.language == 'New Latin', ['lat', 'lon']] = 46.2, 1.3 # Western Europe coordinates
languages.loc[languages.language == 'Slavic', ['lat', 'lon']] = 43.72, 22.84 #Church Slavic???
languages.loc[languages.language == 'Brunei Malay', ['lat', 'lon']] = 4.53, 114.72 #Coordinates of Brunei, OK?
languages.loc[languages.language == 'Fante', ['lat', 'lon']] = 6.35, -1.33 #Coordinates of hyperglot Akan, OK
languages.loc[languages.language == 'Twi', ['lat', 'lon']] = 6.35, -1.33 #Coordinates of hyperglot Akan, OK
languages.loc[languages.language == 'Mongolian', ['lat', 'lon']] = 48.32, 106.29 #Coordinates of hypoglot, Halh Mongolian (most spoken dialect) OK
languages.loc[languages.language == 'Volapük', ['lat', 'lon']] = 49, 8.24 #Coordinates of Karlsrühe, Baden OK
languages.loc[languages.language == 'Luxemburgish', ['lat', 'lon']] = 49.68, 6.15 #Coordinates of hyperglot, Moselle Franconian OK
languages.loc[languages.language == 'Armenian', ['lat', 'lon']] = 49.68, 6.15 #Coordinates of hyperglot, Moselle Franconian OK
languages.loc[languages.language == 'Dravidian', ['lat', 'lon']] = 11, 78 #Coordinates of Old Tamil
languages.loc[languages.language == 'Aramaic', ['lat', 'lon']] =33.91, 42.19 # Coordinates of Imperial Aramaic (700-300 BCE)
languages.loc[languages.language == 'Turkic', ['lat', 'lon']] =55.49, 47.16 # Coordinates of Chuvash, cognate of bors.
languages.loc[languages.language == 'Iranian', ['lat', 'lon']] =39.70, 66.98 # Coordinates of Sogdian, cognate bors
# modify names
languages.loc[languages.language == 'Old English (ca. 450-1100)', ['language']] = 'Old English'
languages.loc[languages.language == 'Old French (842-ca. 1400)', ['language']] = 'Old French'
languages.loc[languages.language == 'Jewish Babylonian Aramaic (ca. 200-1200 CE)', ['language']] = 'Jewish Babylonian Aramaic'
# languages.loc[languages.language == 'Pahlavi', ['language']] = 'Middle Persian'
# Late Middle Indo-Aryan in the new instead of Middle Indo Aryan

languages

,iso,glcode,language,level,branch,family,macroarea,country,lat,lon,from
0,NaN,gane1238,!Gã!ne,language,NaN,Tuu,Africa,ZA,-31.320000,28.75,glot
1,oun,oung1238,!O!ung,language,NaN,NaN,Africa,NaN,-15.300000,14.35,glot
2,NaN,kwii1241,!Ui,family,NaN,Tuu,NaN,NaN,NaN,NaN,glot
3,knw,kung1261,!Xun (Ekoka),language,Ju-Kung,Kxa,Africa,NA AO,-19.666667,18.00,wals1
4,nmn,xooo1239,!Xóõ,language,Tu,Tu,Africa,BW,-24.000000,21.50,wals1
...,...,...,...,...,...,...,...,...,...,...,...
27261,NaN,oita1237,Ōita-ben,dialect,NaN,Japonic,Eurasia,NaN,NaN,NaN,glot
27262,NaN,omut1237,Ōmuta-ben,dialect,NaN,Japonic,Eurasia,NaN,NaN,NaN,glot
27263,NaN,osak1237,Ōsaka,dialect,NaN,Japonic,Eurasia,NaN,NaN,NaN,glot
27264,NaN,suma1275,Šumadija-Vojvodina,dialect,NaN,Indo-European,Eurasia,NaN,NaN,NaN,glot
27265,NaN,huaa1249,ǂHua,dialect,NaN,Kxa,Africa,NaN,NaN,NaN,glot

In [ ]:
# add language
languages.loc[-1] = ["dra", "drav1251", "Proto-Dravidian", "proto-language", np.NaN, "Dravidian", "Asia", "IN SL", 11, 78, "manual"]  # adding a row
languages.index = languages.index + 1  # shifting index
languages.loc[-1] = ["pii", "", "Proto-Iranian", "proto-language", np.NaN, "Indo-European", "Eurasia", np.NaN, 45, 65, "manual"]  # Loc of Andronovo culture
languages.index = languages.index + 1  # shifting index
languages.loc[-1] = ["pst", "sino1245", "Proto-Sino-Tibetan", "proto-language", np.NaN, "Sino-Tibetan", "Asia", np.NaN, 24, 100, "manual"]  # Loc of Andronovo culture
languages.index = languages.index + 1  # shifting index
languages = languages.sort_index()  # sorting by index
languages

,iso,glcode,language,level,branch,family,macroarea,country,lat,lon,from
0,pst,sino1245,Proto-Sino-Tibetan,proto-language,NaN,Sino-Tibetan,Asia,NaN,24.00,100.00,manual
1,pii,,Proto-Iranian,proto-language,NaN,Indo-European,Eurasia,NaN,45.00,65.00,manual
2,dra,drav1251,Proto-Dravidian,proto-language,NaN,Dravidian,Asia,IN SL,11.00,78.00,manual
3,NaN,gane1238,!Gã!ne,language,NaN,Tuu,Africa,ZA,-31.32,28.75,glot
4,oun,oung1238,!O!ung,language,NaN,NaN,Africa,NaN,-15.30,14.35,glot
...,...,...,...,...,...,...,...,...,...,...,...
27264,NaN,oita1237,Ōita-ben,dialect,NaN,Japonic,Eurasia,NaN,NaN,NaN,glot
27265,NaN,omut1237,Ōmuta-ben,dialect,NaN,Japonic,Eurasia,NaN,NaN,NaN,glot
27266,NaN,osak1237,Ōsaka,dialect,NaN,Japonic,Eurasia,NaN,NaN,NaN,glot
27267,NaN,suma1275,Šumadija-Vojvodina,dialect,NaN,Indo-European,Eurasia,NaN,NaN,NaN,glot
27268,NaN,huaa1249,ǂHua,dialect,NaN,Kxa,Africa,NaN,NaN,NaN,glot

In [ ]:
# keyword = "Proto-Dravidian"
# languages[languages.eq(keyword).any(1)]

# #checking
# so = languages[languages['iso'] == 'dra']
# so


# % ,language,iso,glcode,family,branch,macroarea,country,lat,lon,timespan
# % 1,Sanskrit,san,sans1269,Indo-European,Indic,Eurasia,IN,20.0,77.0,-1500-01-01/-1100-01-01
# % 2,Middle Indo-Aryan,pra,midd1350,Indo-European,Indic,Eurasia,IN,26.61,78.97,0500-01-01/1300-01-01
# % 3,Pahlavi,pal,pahl1241,Indo-European,Iranian,Eurasia,IR,30.06,52.7,0224-01-01/0650-01-01

### Save dataset

In [ ]:
languages.to_csv(path + 'languages.csv')